@font-face {
    font-family: "Gordita400";
    src: local("Gordita Light"),
         local("Gordita-Light"),
         url("/fonts/Gordita-Light.woff") format("woff"),
         url("/fonts/Gordita-Light.woff2") format("woff2"),
         url("fonts/Gordita-Light.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Gordita500';
    src: local("Gordita Bold"),
         local("Gordita-Bold"),
         url("/fonts/Gordita-Bold.woff") format("woff"),
         url("/fonts/Gordita-Bold.woff2") format("woff2"),
         url("fonts/Gordita-Bold.ttf") format("truetype");
    font-display: swap;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gardita400', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0;
    font-style: normal;
}

.window{
    width: 1260px;
    margin:0 auto;
}
.wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.clinetBox{
    width: 566px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.client{
    margin-bottom: 56px;
}

.clientTitle{
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    font-family: 'Gordita500';
    letter-spacing: 1px;
    line-height: 100%;
    color: rgba(48, 57, 72, 1);
    padding-bottom: 9px;
}

.clientSubtitle{
    font-family: 'Gordita400';
    font-weight: 400;
    color: rgba(48, 57, 72, 1);
    line-height: 100%;
    letter-spacing: 0.9px;
    margin: 0px;
}

.imageBox{
    display: flex;
    justify-content: space-between;
}

.imageOne:nth-child(1){
    padding: 8px 27px 0px 0px;
}

.imageOne:nth-child(2){
    padding: 12px 27px 5.59px 0px;
}

.imageTwo{
    padding-top: 23px;
}


.wrapperTwo{
    width: 1260px;
    margin-bottom: 70px;
}

.contentBox{
    position: relative;
    margin: 10px 90px 0px 0px;
}

.contentBoxImage{
    position: relative;
    float: left;
}

.boxdot{
    position: absolute;
    top: -27px;
    left: 412px;
}

.circle{
    background-color: rgba(252, 163, 17, 1);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 41%;
    left: -75px;
    z-index: 100;
}

.contentBoxText{
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-left: 73px;
}

.help{
    font-family: 'Gordita400';
    font-weight: 400;
    font-size: 18px;
    color: rgba(48, 57, 72, 1);
    line-height: 100%;
    margin: 37px 0px 14px 0px;
    letter-spacing: 1.1px;
}

.specific{
    font-family: 'Gordita500';
    letter-spacing: 0.7px;
    font-size: 36px;
    font-weight: 500;
    line-height: 143%;
    color: rgba(20, 33, 61, 1);
    margin: 0px;

}

.helpSubtitle{
    font-family: 'Gordita400';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: rgba(89, 97, 109, 1);
    margin: 21px 0px 74px 0px;
    letter-spacing: 0.74px;
}

.boxFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 84px;
    margin: 0;
    padding-left: 73px;
}

.web img{
    padding: 6px 16px 16px 0px;
    float: left;
}

.textWeb{
    padding: 12px 0px 10px 0px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.6px;
    color: rgba(48, 57, 72, 1);
    font-family: 'Gordita500';
    font-weight: 500;
}

.Right{
    padding: 17px 0px 10px 0px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.6px;
    color: rgba(48, 57, 72, 1);
    font-family: 'Gordita500';
    font-weight: 500;
}

.RightTwo{
    padding: 16px 0px 10px 0px;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.6px;
    color: rgba(48, 57, 72, 1);
    font-family: 'Gordita500';
    font-weight: 500;
}

.textSubtitle {
    float: left;
    width: 243px;
    padding-left: 8px;
    font-size: 18px;
    font-family: 'Gordita400';
    font-weight: 400;
    line-height: 145%;
    margin: 0px;
    letter-spacing: 0.9px;
}